<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'> 
  <link rel="stylesheet" href="../static/css/style.css">  
  </head>



 <div class="login">
  <h1>Predict Iris Flower Species</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <!-- name = experience -->
      <input type="text" name="sepal_length" placeholder="Enter Sepal len in cm, e.g, 6.4" required="required" />
      <!-- name = test_score -->
      <input type="text" name="sepal_width" placeholder="Enter Sepal wid in cm, e.g, 2.8" required="required" />
      <!-- name = interview_score -->
      <input type="text" name="petal_length" placeholder="Enter Petal len in cm, e.g, 5.1" required="required" />

      <input type="text" name="petal_width" placeholder="Enter Petal wid in cm, e.g, 1.5" required="required" />      

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   <!-- <strong>{{ prediction_text }}</strong>. -->
   <strong>{{prediction_text}}</strong>
 </div>
</body>
</html>
